canvas {
  position: relative;
  background: #525252;
  width: 100%;
  height: eval(100%-50px);
}

div {
  background: #929292;
  font-family:'Raleway', sans-serif;
  color:#121212;
  text-align: center;
  height: 50px;
}

.heading {
  font-weight:400;
  line-height:1.7;
  padding: 10px;
}

body { margin: 0 }

button {
  background-color: #e7e7e7; 
  color: black;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button:onhover {
  background-color: #e9e9e9;
}
