canvas {
  position: relative;
  background: #525252;
  width: 100%;
  height: eval(100%-50px);
}

div {
  background: #929292;
  font-family:'Raleway', sans-serif;
  color:#121212;
  text-align: center;
}

.heading {
  font-weight:400;
  line-height:1.7;
  padding: 10px;
}

body { margin: 0 }

button {
  background-color: #5e5e5e; 
  color: white;
  border: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  padding: 10px;
}

button:hover {
  background-color: #adadad;
  color: black;
}
